#schedule {
  padding: 40px 20px;
  background: #ecf5fc80;
}
div.react-calendar {
  border: 0;
  background: #c2c4ce;
  border-radius: 15px;
  color: #fff;
  /* width: 500px; */
  padding: 15px;
}
button.react-calendar__navigation__arrow {
  color: #fff;
}
button.react-calendar__navigation__label {
  color: #fff;
}
button.react-calendar__tile {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50px;
  /* padding: 5px 2px; */
  margin: 0px;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #fff;
  color: #de08b3;
}
button.react-calendar__tile--now {
  background: #de08b3;
}
button.react-calendar__tile.react-calendar__month-view__days__day--neighboringMonth {
  color: rgb(221, 221, 221);
}
.time-btn {
  background: #c2c4ce;
  margin: 5px;
  color: #fff;
  /* width: ; */
}
.book-btn {
  background-color: #de08b3;
  margin: 10px;
  color: #fff;
}
